
body{
  margin: 0;
  font: normal 16px Arial,Helvetica, sand-serif;
  color:#333;
}
#box{
  border-radius: 25px;
  background: #ffffff;
  opacity: 0.85;
  padding: 2em;
  position: absolute;
  left: 2%;
  top: 10%;
}

#box2{
  border-radius: 25px;
  background: #ffffff;
  opacity: 0.85;
  padding: 2em;
  position: absolute;
  left: 60%;
  top: 10%;
}
.example-viewport {
  height: 400px;
  width: 700px;
  border: 1px solid gray;
  background-color: #333;
  border-radius: 5px;
}

.example-item {
  height: 50px;
}

