<div id="box" >
  <div *ngIf="user.getUser().imie!=null">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/user">My notifications </button>
      <button mat-menu-item routerLink="/notif">Add notification </button>
  </mat-menu>
</div>

<div  *ngIf="employee.getEmployee().imie!=null">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/emp">Zgłoszenia </button>
    <div *ngIf="employee.getEmployee().nadzorca">
        <button mat-menu-item routerLink="/new-work">Rozdziel zgłoszenia </button>
    </div>
  </mat-menu>
</div>
<div *ngIf="user.getUser().imie==null&&employee.getEmployee().imie==null">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="">Log-in </button>
        <button mat-menu-item routerLink="/sign-in">Sign-in </button>
    </mat-menu>
  </div>
</div>

