<div *ngIf="userService.getUser().id_uzyt" class="table-dark">
  <h1 class="text-warning">User: {{userService.getUser().imie}} {{userService.getUser().nazwisko}}</h1>
  <div class="table-dark text-warning">
    <ul>
      <li>login: {{userService.getUser().login}}</li>
      <li>Email: {{userService.getUser().email}}</li>
    </ul>
    <div>
      <button (click)="onClick($event)" type="button" class="btn btn-dark">Odświerz</button>
    </div>
    <h1></h1>
  </div>



  <div class="list-group">
    <a class="list-group-item list-group-item-dark ">
      Zgloszenia
    </a>


    <div *ngFor="let zgl of userService.getNotify()">


      <button (click)="notifyOpen(zgl.id_zglosz)" class="list-group-item list-group-item-dark list-group-item-action active">{{zgl.id_zglosz}}# {{userService.translateId_kategoria(zgl)}}</button>
      <div *ngIf="this.opened==zgl.id_zglosz">

        <li>Data: {{zgl.data_przyj}}</li>
        <li>Priorytet: {{userService.translateId_priorytet(zgl)}}</li>
        <li>Status: {{userService.translateId_status(zgl)}}</li>
        <h1>Pracownicy: </h1>
        <div *ngFor="let emp of employee.getEmployees()">
          <li>Imie: {{emp.imie}}  Nazwisko: {{emp.nazwisko}}
            Mail: {{emp.email}}</li>
        </div>
        {{zgl.opis}}

      </div>
    </div>
  </div>







</div>
<div *ngIf="!userService.getUser().id_uzyt" class="table-dark">
  <li>Złe dane logowania</li>
</div>

