<div *ngIf="user">
  <h1 class="navbar navbar-expand-lg navbar-dark bg-dark text-warning">User: {{user.imie}} {{user.nazwisko}}</h1>
  <div >
    <ul class="text-warning">
      <li >login: {{user.login}}</li>
      <li>Email: {{user.email}}</li>
      <li>haslo: {{user.haslo}}</li>
    </ul>
    <h1>Edit user</h1>
    <form>
      <div>
        <label>imie:</label><br>
        <input type="text" [(ngModel)]="user.imie" name="imie">
      </div>
      <div>
        <label>id:</label><br>
        <input type="number" [(ngModel)]="user.id_uzyt" name="id_uzyt">
      </div>
      <div>
        <label>Email: </label><br>
        <input type="text" [(ngModel)]="user.email" name="email">
      </div>
      <div>
        <label>nazwisko: </label><br>
        <input type="text" [(ngModel)]="user.nazwisko" name="nazwisko">
      </div>
      <div>
        <label>haslo: </label><br>
        <input type="text" [(ngModel)]="user.haslo" name="haslo">
      </div>

      <div>
        <label>login: </label><br>
        <input type="text" [(ngModel)]="user.login" name="login">
      </div>

      <button (click)="onClick()">Click</button>

    </form>

    <div *ngFor="let zgl of zglo">
      <ul>
        <li>{{zgl.opis}}</li>
      </ul>
    </div>
  </div>
</div>
<!--

<h1>Hobbbies</h1>
  <form (submit)="addHobby(hobby.value)" >
    <div>
      <label for="hobby">Hobby</label>
      <input type="text" #hobby>
    </div>
  </form>
-->

<!--
<ul>
  <li *ngFor= "let hobby of hobbies; let i =index">
    {{i+1}}: {{hobby}} <button (click)="deleteHobby(hobby)">X</button> </li>
</ul>

</div>
 <ul>
   login:<br> {{log}}
 </ul>
<ul>
   bio:<br> {{bio}}
</ul>
<ul>
   company:<br> {{company}}
 </ul>

-->
