<div id="box">
  <form #userRegistrationForm="ngForm" *ngIf="!this.created">
    <h2>Registration</h2>
    <div class="row">
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" name="Password" #Password="ngModel" [(ngModel)]="this.user.haslo"
            required minlength="3">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="text" name="Email" #Email="ngModel" [(ngModel)]="this.user.email"
            required [pattern]="emailPattern">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Login" type="text" name="login" #Username="ngModel" required [(ngModel)]="this.user.login">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="FirstName" type="text" name="FirstName" #FirstName="ngModel" required
            [(ngModel)]="this.user.imie">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="LastName" type="text" name="LastName" #LastName="ngModel" required [(ngModel)]="this.user.nazwisko">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div>
        <button (click)="onClick($event)" [disabled]="!userRegistrationForm.valid" class="btn btn-dark" type="submit">Create</button>
      </div>
    </div>
  </form>
  <div *ngIf="this.created">User created
    <button class="btn btn-dark" routerLink=""> Log-in</button>
  </div>
</div>
