<div class="row">
  <div >
    <div >
      <div >
        <h2>User Registration</h2>
      </div>
      <form  #userRegistrationForm="ngForm" >
        <div class="row">

          <div>
            <input   type="password" name="Password" #Password="ngModel" [(ngModel)]="this.user.haslo" required  minlength="3">
            <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
          </div>
        </div>
        <div class="row">
          <div >
            <input  type="text" name="Email" #Email="ngModel" [(ngModel)]="this.user.email" [pattern]="emailPattern">
            <label data-error="Invalid email!">Email</label>
          </div>
        </div>
        <div class="row">
          <div >
            <input  type="text" name="login" #Username="ngModel" [(ngModel)]="this.user.login" >
            <label >Login</label>
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="this.user.imie">
            <label>First Name</label>
          </div>
          <div >
            <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="this.user.nazwisko">
            <label>Last Name</label>
          </div>
        </div>
        <div class="row">
          <div>
            <button (click)="onClick($event)" [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
